body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    background-color: #1cca9b;
}

/* Login Page */  

.login_page_center {
    margin-left: auto;
    margin-right: auto;
    width: 8em
}

.login_page_center_image {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* #login_page_div {

} */ 

#login_page_logo_image {
    width: 80%;
} 

#login_page_div_outline {
    width: 30%;
    height: 60%;
    border: 2px solid black;
    border-radius: 10px;
    background: white;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow: 6px 4px 44px 2px rgba(0, 0, 0, 0.24);
}

#login_page_inputarea {
    display: flex;
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
    cursor: pointer;
    transition: 0.2s all;
    border: 2px solid #1cca9b;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 5px;
    margin-bottom: 10px;
    display: inline-block;
}

#login_page_buttons {
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
    cursor: pointer;
    transition: 0.2s all;
    border: 2px solid #1cca9b;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    margin-bottom: 5px;
    margin-left: 3px;
    margin-right: 3px;
    font-weight: 500;
    font-family: 'CustomFont', Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flexbox;
    font-size: 15px;
}

#login_page_buttons:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

