{% extends 'base.html' %}

{% block head %}
<title>Air Management System ~ Login</title> 
{% endblock %}

{% block body %}

<div class="center_image" id="airnode_system_login_div"> <!-- Login Page Div --> 
    <!-- Logo -->
    <img id="airnode_system_logo" src="https://cdn.discordapp.com/attachments/996802087453216859/997478609386221619/assetLogo.png">

    <!-- Login Fields -->
    <form id="airnode_system_login_form">
        <input type="test" name="content" id="airnode_system_login_username">
        <input type="test" name="content" id="airnode_system_login_password">
        <input type="submit" value="Login" id="airnode_system_login_button">
    </form> 

</div> 

{% endblock %}